.GridSelectCol {
  position: relative;
  text-decoration: none;
}

.GridSelectCard {
  border: none;
  box-shadow: none;
  border-radius: var(--radius-2);
  border-radius: var(--radius-2);
  background-color: var(--gray-1);
  margin-right: -1px;
  margin-top: -1px;
  padding: var(--space-4);
  position: relative;
  transition: transform 150ms ease-in;
  z-index: 1;

  &:hover {
    transform: scale(1.05);
    box-shadow: var(--shadow-4);
    z-index: 3;
  }

  h3 {
    color: var(--gray-12);
  }

  p {
    color: var(--gray-9);
  }

  img {
    border-radius: var(--radius-2);
  }
}

.GridSelectContent {
  border-radius: 0 0 var(--radius-2) var(--radius-2);
}