.Hero {
  position: relative;
  min-height: calc(300px + 15vw);
  padding: var(--space-9) 0 var(--space-9);
}

.HeroImage {
  position: relative;
  width: 100%;
  height: 400px;
  
  img { object-fit: cover; }
}