.Grid {
  position: relative;
  background-color: var(--lime-4);
  border-radius: var(--radius-2);
}

.Item {
  background-color: var(--lime-4);
  border-radius: var(--radius-2);
  padding: var(--space-8);

  h3, p {
    color: var(--lime-12);
  }
}