.NavBurger {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.NavBurgerContent {
  position: absolute;
  top: 100%;
  left: 0;
  width: calc(100% - 16px);
  height: calc(100% * 5);
  border-top: 1px solid var(--gray-12);
  border-bottom: 1px solid var(--gray-12);
  animation-duration: 250ms;
  animation-timing-function: ease;
  background-color: var(--gray-1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  padding: 0;
}

.NavBurgerTrigger {
  display: flex;
  text-decoration: none;
  font-size: var(--font-size-2);
  padding: var(--space-2) var(--space-3);
  color: var(--gray-12);
  width: 100%;
  &:hover {
    background-color: var(--gray-3);
    cursor: pointer;
  }
}